# Virtual Environment
app/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit cache
.streamlit/
.cache/

# OS files
.DS_Store
Thumbs.db

# Images
Server/images/
images/

# Logs
*.log

# Env files
.env

settings/

roboflow_settings/

